{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 4 of 12 sections.</p>

<!-- Darraghs's groupings -->

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Building usage
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/tenure" aria-describedby="tenure-status">
                  Tenure
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="tenure-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/primary-use" aria-describedby="uses-at-ground-level-and-above-status">
                  Uses at ground level and above
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="uses-at-ground-level-and-above-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/floors-below-ground-level" aria-describedby="uses-below-ground-level-status">
                  Uses below ground level
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="uses-below-ground-level-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Building structure
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="walls-information-status">
                  Walls
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="walls-information-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="material-changes-status">
                  Material changes
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="material-changes-details-status">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="roof-status">
                  Roof
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="roof-status">Not started yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="stairs-status">
                  Stairs
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="stairs-status">Not started yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="energy-supplies-status">
                  Energy supplies
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="energy-supplies-status">Not started yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Fire safety
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Fire and smoke provisions
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="fire-and-smoke-provisions-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Evacuation policy
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="evacutation-policy-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Design standard
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="design-standard-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Submit
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

      </ol>
    </div>
  </div>

{% endblock %}
